USE [master]
GO
/****** Object:  Database [HeThongBaoHiemOto]    Script Date: 09/01/21 4:51:26 PM ******/
CREATE DATABASE [HeThongBaoHiemOto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeThongBaoHiemOto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.FSOFT\MSSQL\DATA\HeThongBaoHiemOto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HeThongBaoHiemOto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.FSOFT\MSSQL\DATA\HeThongBaoHiemOto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeThongBaoHiemOto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeThongBaoHiemOto]
GO
/****** Object:  Table [dbo].[HOPDONGBAOHIEM]    Script Date: 09/01/21 4:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGBAOHIEM](
	[MaHopDong] [varchar](255) NOT NULL,
	[BienSoXe] [varchar](255) NULL,
	[GiaTriHopDong] [bigint] NULL,
	[GiaTriThanhToan] [bigint] NULL,
	[MaKH] [varchar](255) NULL,
	[NgayHopDong] [date] NULL,
	[ThoiHanHopDong] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 09/01/21 4:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](255) NOT NULL,
	[GioiTinh] [varchar](255) NULL,
	[MaLoaiKH] [varchar](255) NULL,
	[NgaySinh] [date] NULL,
	[SoCMD] [varchar](255) NULL,
	[SoDienThoai] [varchar](255) NULL,
	[TenKH] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 09/01/21 4:51:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[MaLoaiKH] [varchar](255) NOT NULL,
	[ChietKhau] [int] NULL,
	[TenLoaiKH] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOPDONGBAOHIEM] ([MaHopDong], [BienSoXe], [GiaTriHopDong], [GiaTriThanhToan], [MaKH], [NgayHopDong], [ThoiHanHopDong]) VALUES (N'HD001', N'75A-03567', 6000000, 5700000, N'KH001', CAST(N'2018-05-06' AS Date), CAST(N'2019-05-06' AS Date))
INSERT [dbo].[HOPDONGBAOHIEM] ([MaHopDong], [BienSoXe], [GiaTriHopDong], [GiaTriThanhToan], [MaKH], [NgayHopDong], [ThoiHanHopDong]) VALUES (N'HD002', N'43A-56542', 7000000, 6510000, N'KH002', CAST(N'2019-07-02' AS Date), CAST(N'2020-07-02' AS Date))
INSERT [dbo].[HOPDONGBAOHIEM] ([MaHopDong], [BienSoXe], [GiaTriHopDong], [GiaTriThanhToan], [MaKH], [NgayHopDong], [ThoiHanHopDong]) VALUES (N'HD003', N'75A-74576', 12000000, 10320000, N'KH003', CAST(N'2019-04-03' AS Date), CAST(N'2020-04-03' AS Date))
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [GioiTinh], [MaLoaiKH], [NgaySinh], [SoCMD], [SoDienThoai], [TenKH]) VALUES (N'KH001', N'Nam', N'L001', CAST(N'1982-11-05' AS Date), N'1914235876', N'0909090907', N'Nguyen Van Hung')
INSERT [dbo].[KHACHHANG] ([MaKH], [GioiTinh], [MaLoaiKH], [NgaySinh], [SoCMD], [SoDienThoai], [TenKH]) VALUES (N'KH002', N'Nam', N'L001', CAST(N'1986-06-15' AS Date), N'1937687654', N'0905123457', N'Nguyen Van Son')
INSERT [dbo].[KHACHHANG] ([MaKH], [GioiTinh], [MaLoaiKH], [NgaySinh], [SoCMD], [SoDienThoai], [TenKH]) VALUES (N'KH003', N'Nu', N'L002', CAST(N'1978-05-24' AS Date), N'1974654328', N'0905123458', N'Tran Thi Phuong')
GO
INSERT [dbo].[LOAIKHACHHANG] ([MaLoaiKH], [ChietKhau], [TenLoaiKH]) VALUES (N'L001', 10, N'Thong thuong')
INSERT [dbo].[LOAIKHACHHANG] ([MaLoaiKH], [ChietKhau], [TenLoaiKH]) VALUES (N'L002', 20, N'Than thiet')
INSERT [dbo].[LOAIKHACHHANG] ([MaLoaiKH], [ChietKhau], [TenLoaiKH]) VALUES (N'L003', 30, N'VIP')
GO
ALTER TABLE [dbo].[HOPDONGBAOHIEM]  WITH CHECK ADD  CONSTRAINT [FKp47kbnb6x5qb7vsbitgjubqyj] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOPDONGBAOHIEM] CHECK CONSTRAINT [FKp47kbnb6x5qb7vsbitgjubqyj]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FKqm9v31vpsjxpnxvo0p2f61kn5] FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LOAIKHACHHANG] ([MaLoaiKH])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FKqm9v31vpsjxpnxvo0p2f61kn5]
GO
USE [master]
GO
